#Images for videos and videos
visualizationImages
visualizationVideos


# Ignore all __pycache__ folders recursively
**/__pycache__/

# Ignore the graph.json file in any subfolder
**/graph.json
**/dual_graph.json